* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Pagina HOME */

.home {
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 10% 130% 10%;
    grid-template-areas: 
    "header"
    "main"
    "footer"
    ;
}

header{
    background-color: #E8C4C4;
    grid-area: header;
}
.navbar{
    display: grid;
    grid-template-columns:20% 20% 20% 20% 20%;
    grid-template-rows: repeat(1, 40px);
    grid-template-areas: "item1 item2 item3 item4 item5";
    justify-items: center;
    align-items: center;
    padding-top: 25px;
}

.navbar a{
    text-decoration: none;
    color: white;
    font-size: 25px;
}

main{
    width: 100%;
    background-color: #F7E5E5;
    grid-area: main;
}

.mainhome-imagenes{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 300px 170px 10px 300px;  
}

.main1{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    justify-self: center;
    align-self: center;
    align-content: center;
}

.main2{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    justify-self: center;
    align-self: center;
    /* padding: 20px; */
    text-align: center;
    font-size: 150%;
    color: #A7727D;
    /* padding-top: 40px; */
}

.main3 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    justify-self: center;
    align-self: center;
    text-align: center;
    font-size: 150%;
    color: #A7727D;
    text-decoration: overline;
    text-decoration: underline;
    
}

.main4{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
    justify-self: center;
    align-self: center;
    align-content: center;
    padding-top: 100px;
}


footer{
    background-color: #E8C4C4;
    grid-area: footer;
}

.footer-pie{
    display: grid;
    grid-template-columns:20% 20% 20% 20% 20%;
    grid-template-rows: repeat(1, 75px);
    grid-template-areas: "pie1 pie2 pie3 pie4 pie5 ";
    justify-items: center;
    align-items: center;
}

/* pagina Work */


.header-work{
    background-color: white;
    grid-area: header;
}

.navbar-work{
    display: grid;
    grid-template-columns:20% 15% 15% 15% 15% 15%;
    grid-template-rows: repeat(1, 75px);
    grid-template-areas: "work1 work2 work3 work4 work5 work6";
    justify-items: center;
    align-items: center;
    align-content: center;
    padding-top: 5px;
}
.navbar-work a{
    text-decoration: none;
    color: #E8C4C4;
    font-size: 20px;
}

.main-work{
width: 100%;
height: 220vh;   
}


.imagen-main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}
.main-work div h2{
    display: flex;
    justify-content: center;
    font-size: 300%;
    font-weight: bold;
    color: #E8C4C4;  
    padding-bottom: 100px;
} 

.tarjeta{
    display: inline-flex;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.tarjetita-imagen{
    max-width: 350px;
}

footer section p{
    text-align: center;
}

/* pagina contacto */


.main-contacto{
    width: 100%;
    height: 100vh;
    padding-left: 20px;
    padding-right: 20px;
}
.parrafo-contacto{
    text-align: center;
    font-size: 20px;
    color: #A7727D;
    padding-top: 70px;
    padding-bottom: 70px;
}
.boton-contacto{
    color: #F7E5E5;
    font-size: 14px;
    background-color: #A7727D;
    border: none;
    padding: 5px 5px 5px 5px;
}

/*  responsive pagina Home 1024 */
@media screen and (max-width: 1024px) {
        
    .home {
        grid-template-columns: 1024px;
    }

.main4{
    width: 100%;
}
}

/* responsive pagina Home 768 */
@media screen and (max-width: 768px) {

.home {
    grid-template-columns: 768px;
}

.navbar a{
    font-size: 18px;
}

.main1{
    width: 50%;
}

.main2{
    font-size: 100%;
}

.main3{
    font-size: 100%;
}
}

/* responsive pagina Home 320 */
@media screen and (max-width: 320px){

    .home {
        grid-template-columns: 320px;
        grid-template-rows: 5% 100% 6%;
    }

    .navbar a{
        font-size: 10px;
        padding-bottom: 45px;
    }

    .mainhome-imagenes{
        grid-template-rows: 150px 100px 1px 150px;  
    }

    .main2{
        font-size: 50%;
    }
    
    .main3{
        font-size: 50%;   
    } 

    .footer-pie{
        grid-template-rows: repeat(1, 45px);

}
}