footer{
    width: 100%;
    height: auto;
    background-color: #E8C4C4;
}
.footer-pie{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1px 0px 1px 0px;
}