@media screen and (min-width: 425px){
    header{
        padding: 6px 15px 6px 15px;
    .navbar a{
        font-size: 18px;
    }   
}
}

@media screen and (min-width: 768px){
    header .navbar a{
        font-size: 20px;
    }
    header .navbar a:hover{
        background-color: #E8C4C4;
        color:white;
        // border: 2px solid lightcoral;
        padding: 3px 3px 3px 3px;
    }
}

@media screen and (min-width: 1024px){
    header .navbar a{
        font-size: 22px;
    }
}

@media screen and (min-width: 1440px){
    header .navbar a{
        font-size: 20px;
        padding: 5px 20px 5px 20px;
    }
}

