
main legend{
    text-align: center;
    text-decoration: underline;
    color:#A7727D;
}
.main-contacto{
        padding: 10px 15px 3px 15px;
    }
.parrafo-contacto{
        font-size: 18px;
        color: #A7727D;
        p{
            text-align: justify;
        }
    }
span{
    font-size: 18px;
        color: #A7727D;
}
.textarea{
    .textarea{
        width: 100%;
    }
}

.boton-contacto {
    color: #F7E5E5;
    font-size: 14px;
    background-color: #A7727D;
    border: none;
    padding: 5px 5px 5px 5px;
}