.main-servicios{
    height: auto;
    padding-bottom: 10px;
}

.wmain1-servicios{
    max-width: 150px;
        max-height: 150px;
}
.wmain2-servicios{
    font-size: 30px;
       color: #A7727D;
       padding-bottom: 15px;
}
video{
    padding-bottom: 30px;
}
