.main-servicios{
    display: flex;
    flex-direction: column;
}

.parrafo-nosotros{
    height: auto;
    font-size: 16px;
    text-align: justify;
    color: #A7727D;
    padding: 10px 10px 5px 10px;
}